* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

html {
  position: relative;
}
body {
  overflow: hidden;
}

body::before {
  background: url('../public/images/home-background.png') center center / cover
    no-repeat fixed;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
